<a href="/todo">Start</a>
<div class="footer">Trademark 2018 Groefics</div>
<script src="/javascript/jQuery_3_2_1.js"></script>
<script src="/javascript/cmsDragndrop.js"></script>
<script src="/javascript/bootstrap.js"></script>
</body>
</html>