<% include partials/header %>
<% include partials/navbarTop %>
<h1>Startseite</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
         <div class="card-header">
           Corel Paintshop Pro
         </div>
         <div class="card-body corelBody">
           <blockquote class="blockquote mb-0">
             <p>Alles über Corel Paintshop Pro.</p>
             <footer class="blockquote-footer">hier gehts <a href="/corel">zur Seite</a></footer>
           </blockquote>
         </div>
       </div>                
    </div>
   <div class="col-sm-6">
        <div class="card">
         <div class="card-header">
           ToDo-Liste
         </div>
         <div class="card-body todoBody">
           <blockquote class="blockquote mb-0">
             <p>Meine Aufgabensammlung</p>
             <footer class="blockquote-footer">hier gehts <a href="/todo">zur Seite</a></footer>
           </blockquote>
         </div>
       </div> 
    </div>
</div>
 
 <div class="row">
    <div class="col-sm-6">
        <div class="card">
         <div class="card-header">
           CG ART
         </div>
         <div class="card-body cgBody">
           <blockquote class="blockquote mb-0">
             <p>Meine digitale Kunst als Gallerie mit Tutorials und nützlichen Infos</p>
             <footer class="blockquote-footer">hier gehts <a href="/composition">zur Seite</a></footer>
           </blockquote>
         </div>
       </div>                
    </div>
   <div class="col-sm-6">
        <div class="card">
         <div class="card-header">
           CMS
         </div>
         <div class="card-body cmsBody">
           <blockquote class="blockquote mb-0">
             <p>Das Content Managment System zum Erstellen der Seiten</p>
             <footer class="blockquote-footer">hier gehts <a href="/cms">zur Seite</a></footer>
           </blockquote>
         </div>
       </div> 
    </div>
</div>
 
 <div class="row">
    <div class="col-sm-6">
        <div class="card">
         <div class="card-header ">
           Media
         </div>
         <div class="card-body mediaBody">
           <blockquote class="blockquote mb-0">
             <p>Meine Bilder, Pdf, Audio,...</p>
             <footer class="blockquote-footer">hier gehts <a href="/media">zur Seite</a></footer>
           </blockquote>
         </div>
       </div>                
    </div>
   <div class="col-sm-6">
        <div class="card">
         <div class="card-header">
           Office
         </div>
         <div class="card-body officeBody">
           <blockquote class="blockquote mb-0">
             <p>Meine Unterlagen digitalisiert.</p>
             <footer class="blockquote-footer">hier gehts <a href="todo.html">zur Gallerie 1 </a><a href="todo.html"> zur Gallerie 2</a></footer>
           </blockquote>
         </div>
       </div> 
    </div>
</div>

<div class="row"> 
  <div class="col-sm-12"> 
     <div class="card secRow">
       <div class="card-body card-media">
        <h5 class="card-title">HMTL-Bereich</h5>
        <p class="card-text">Nur Javascript/CSS/HTML</p>
        <a href="html/index.html" class="btn btn-primary">zum Bereich</a>
       </div>
     </div>
  </div>
 </div>
<div class="row"> 
  <div class="col-sm-12"> 
     <div class="card secRow">
       <div class="card-body card-media">
        <h5 class="card-title">Python</h5>
        <p class="card-text">Die Programmiersprache Python</p>
        <a href="python/" class="btn btn-primary">zum Bereich</a>
       </div>
     </div>
  </div>
 </div>
</div>
<% include partials/footer %>