<!doctype html>
<% include partials/header %>
<body>
<% include partials/navbarTop %>

    
    <div class="festebreite">
    
        <div id="ardbild">All Areas</div>
    
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="card todoBox">
              <div class="card-body">
                <h5 class="card-title">Was ist zu tun/Blog</h5>
                <h6 class="card-subtitle mb-2 text-muted">Alle Todos</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/todo" class="card-link">Aufgaben</a>
                <a href="/todo/new" class="card-link">neue Aufgabe</a>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <div class="card projectBox">
              <div class="card-body">
                <h5 class="card-title">Digitale Kunst</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/painting" class="card-link">Gallerie</a>
                <a href="/painting/new" class="card-link">neues Bild</a>
              </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card projectBox">
              <div class="card-body">
                <h5 class="card-title">3D-Visualisierung</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/composition" class="card-link">Galerie</a>
                <a href="/composition/new" class="card-link">neues Bild</a>
              </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card projectBox">
              <div class="card-body">
                <h5 class="card-title">3D-Animation</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/painting" class="card-link">Galerie</a>
                <a href="/painting/new" class="card-link">neues Bild</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    

    

            

    
    
    </div>
    
</body>
</html>