<% include partials/header %>
<% include partials/navbarTop %>
<h1>Index Page</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Drag&Drop</h5>
        <p class="card-text">Objekte hin und herschieben</p>
        <a href="/html/dragndrop.html" class="btn btn-primary">Verschieben von Objekten</a>
        <a href="/html/dragndrop.html" class="btn btn-primary">Verändern der Seite</a>
      </div>
    </div>
  </div> 
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ToDo-Liste</h5>
        <p class="card-text">Append, appendChild, nodes,...</p>
        <a href="/html/todo.html" class="btn btn-primary">Html-Version</a>
        <a href="/todo" class="btn btn-primary">mit Datenbank</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sonstiges</h5>
        <p class="card-text">Irgendwas</p>
        <a href="/html/error.html" class="btn btn-primary">Error-Seite</a>
        <a href="/composition" class="btn btn-primary">Composition</a>
      </div>
    </div>
  </div> 
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CMS</h5>
        <p class="card-text">Content Managment System</p>
        <a href="/html/cms.html" class="btn btn-primary">Html-Version</a>
        <a href="/cms" class="btn btn-primary">mit Datenbank</a>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>