<style type="text/css">
body{
    margin-left: 5px;
    margin-right: 5px;
}



body{
        margin: 0px;
        background-image: url(/images/Szene7.jpg);
        
        
    }
    
    .festebreite{
        
        width:1050px;
        margin: auto;
        
    }
    
    
    a:link{
        
        color:black;
        text-decoration: none;
        
    }
    
    a:hover{
        
        text-decoration: none;
        background-color: darkgrey;
        
    }
    
    a:visited{
        
        color: black;
        
    }
    
    #ardbild {
        
        /*content:url(http://www.ard.de/pool/img/ard/banner/logo_base.png);*/
        width: 250px;
        
    }
    .todoBox{
      margin-top: 2px;
      width: 65.5rem;
    }   
    .projectBox{
      margin-top: 10px;
      width: 18rem;
    }
    
    .blauerbalken{
        background-color:#0074CD;
        height:5%;
        padding:2px;
    }
    /*für jumbotron oben*/
    .jumbotron{
        padding-top:0px;
        padding:0;
        margin-left: 7px;
        margin-right: 7px;
        background-color: white;
        width:49%;
        float:left;
    }


    #bildlinksoben{
        
        float:left;
        margin: 0px 5px 0px 5px;
    }
    
    p{
        
        margin: 1px;
        
    }
    
    h3{
        margin: 5px;
        
    }
    
    #mittlererblock{
        
        width: 70%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        margin-top: 20px;
        
    }
    
    .mittlerebloecke{
        
        width: 31%;
        margin: 15px;
        float: left;
        overflow: auto;
        
    }
    
    #grauerbalken{
        
        background-color: #516384;
        width: 300px;
        padding: 2px;
        margin-bottom: 1px;
        
    }
    
    #gelberbalken{
        
        background-color: #FFD33B;
        width: 300px;
        padding: 2px;
        margin-bottom: 1px;
    }
    
     #lilabalken{
        
        background-color: #561151;
        width: 300px;
        padding: 2px;
        margin-bottom: 1px;
    }
    
    .white{
        
        color:white;
        
        
    }
    
    


h1{
    text-align:center;
}
.todoBody{
  
}
.corelBody{
  
}
.cgBody{
 
}

.cmsBody{
  
}

.mediaBody{
  
}

.officeBody{
 
}

.bgrdText{
  background-color: black;
  opacity: 0.3;
}

p{
  color: black;
  opacity: 1;
}

.firstRow{
   background: linear-gradient(to bottom, #061700, #52c234);
   color:white;
}

.secRow{
  color:white;
   background: linear-gradient(to top, #F9D423, #52c234);
}

.thirdRow{
   color:white;
    background: linear-gradient(to bottom, #ffc500, #c21500);
}

.picThumb{
   
    margin-left: auto;
    margin-right: auto;
   display: block;
   padding-top: 40px;
   
}
img{
    width: 100%;
    height: auto;
}
.textArea{
   
   margin: 0 0;
   padding:  0 0;
}

.footer{
    float:right;
    font-size: 10px;
}

.card-todo{
    background-image: url("/images/todo_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-cms{
    background-image: url("/images/cms_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-composition{
    background-image: url("/images/blender_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-html{
    background-image: url("/images/html_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-media{
    background-image: url("/images/media_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}