body{
    margin-left: 5px;
    margin-right: 5px;
}

h1{
    text-align:center;
}
.todoBody{
    background-image:url('/images/todo_logo_jamaica.png');
    background-repeat:no-repeat;
    background-position:right center;   
}
.corelBody{
    background-image:url('/images/corel_logo_jamaica.png');
    background-repeat:no-repeat;
    background-position:right center;   
}
.cgBody{
    background-image:url('/images/composition_logo_jamaica.png');
    background-repeat:no-repeat;
    background-position:right center;   
}

.cmsBody{
    background-image:url('/images/cms_logo_jamaica.png');
    background-repeat:no-repeat;
    background-position:right center;   
}

.mediaBody{
    background-image:url('/images/media_logo_jamaica.png');
    background-repeat:no-repeat;
    background-position:right center;   
}

.officeBody{
    background-image:url('/images/office_logo_jamaica.png');
    background-repeat:no-repeat;
    background-position:right center;  
}

.bgrdText{
  background-color: white;
  opacity: 0.3;
}

p{
  color: white;
  opacity: 1;
}

.firstRow{
   background: linear-gradient(to bottom, #061700, #52c234);
   color:white;
}

.secRow{
  color:white;
   background: linear-gradient(to top, #F9D423, #52c234);
}

.thirdRow{
   color:white;
    background: linear-gradient(to bottom, #ffc500, #c21500);
}

.picThumb{
   
    margin-left: auto;
    margin-right: auto;
   display: block;
   padding-top: 40px;
   
}
img{
    width: 100%;
    height: auto;
}
.textArea{
   
   margin: 0 0;
   padding:  0 0;
}

.footer{
    float:right;
    font-size: 10px;
}

.card-todo{
    background-image: url("/images/todo_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-cms{
    background-image: url("/images/cms_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-composition{
    background-image: url("/images/blender_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-html{
    background-image: url("/images/html_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-media{
    background-image: url("/images/media_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}