body{
  font-family: Arial;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

}

h1 {
  text-align:center;
    
}

h2 {
    font-size: 2.0em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em;
    margin-left: 1.66%;
    text-align: center;
}

h4{
    font-size: 2em;
    text-align: left;
    margin-left: 1.66%;
    padding-left:1.6%;
    border: 1px solid white;
    
}

li {
  margin-left: 1.33%;
  list-style: none; 
}



hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* Elemente für Todos */

/* Elemente für Todos Ende*/
.btnEditTask{
  float:right;
  border: none;
  color: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

#modalTaskTitle{
  margin-left:10px;
}

.modal{
  color: black;
}

.compositionModal{
  color: grey;
  text-align: center;
}

.historyImg{
   text-align: center;
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:50%;
  float:left;
}

.add{
  border-radius: 50%;
  margin-left:40%;

}
.img-composition{  
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.category{
 width:90%;
}
.date{
  float: right;
  font-size: 0.5em;
}
.comment{
  color:black;
}

.gallery{
  width: 90%;
  
  background-color: #DCD9D4; 
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
 background-blend-mode: soft-light,screen;
  margin-left: 5px;
  padding: 0 0;
}


.dropZoneInitial{
  width:80%;
  height:200px;
  border:dashed 2px grey;
  color: white;
  text-align: center;
}
//kann gelöscht werden wird als Klasse behandelt, da mehrere Felder
#renderDropzone{
  width:80%;
  height:200px;
  border:dashed 2px grey;
  color: white;
  text-align: center;
}
#renderDropzoneOver{
  width:80%;
  height:200px;
  text-decoration: blink;
  border:solid 1px grey;
  color: white;
  text-align: center;
}
#fileLoader{
  display:none;
}
.fileLoaderButton{
  display:none;
}
#renderDropzoneDrop{
  width:80%;
  height:200px;
  border:dashed 1px grey;
  color: white;
  text-align: center;
}
.formFields{
  width:60%;
  border:1px solid white;
}
.compText{
  border:solid 1px grey;
  margin-left: 1.66%;
  padding-left:0.6%;
}


.thumbnail img{
  width: 100%;
}

.thumbnail{
  padding:0;
}

.thumbnail .caption{
  padding:9px;
}

img {
  width: 30%;
  margin:1.66%;
}

.dragShow{
  width:80%;
  height:200px;
  background-color: grey;
  margin:auto;
  padding-top: 85px;
  text-align:center;
  margin-top: 10%; 
}

.dragOver{
  border:2px dashed #000;
}

.jumbotron{
  background-color: black;
  
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}
.composition{
  background-image: url("/images/blender_logo.png");
}

.painting{
  background-image: url("/images/corel_logo_jamaica.png");
}
