<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do Liste</title>

    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/task.css">
    
</head>
<body>
<% include ../partials/navbarTop %>

<h1>Index Seite zum CMS</h1>
<hr>
  <div class="row">
  <a href="cms/new">Seiten anlegen und bearbeiten</a>   
  </div>
<div class="footer">Trademark 2018 Groefics</div>

<% include ../partials/footer %>