<h2>Neue Bildversion</h2>
<div class="gallery">
 <% for (var i = 0;   i < composition.history.length; i++){ %>
  <img src="/images/compositions/<%= composition._id %>/history/<%= composition.history[i].image %>" class="galleryThumb">
  <% if (i >= 4){ %>
   <a href="">...</a>
  <% i = composition.history.length;
   } %>
 <% } %>
 <button type="button" class="btn btn-secondary add" data-toggle="modal" data-target="#addPicModal">
  <i class="fa fa-plus"></i>
</button>
</div>


<!-- Modal zum hinzufügen eines neuen History-Eintrags-->
<div class="modal fade" id="addPicModal" tabindex="-1" role="dialog" aria-labelledby="addPicModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Neue Bildversion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/composition/<%= composition._id %>/edit?_method=PUT" encType="multipart/form-data">
      <div class="modal-body">
        Beschreibung:
        <textarea rows="4" cols="50" name="newDescription"></textarea>
        <input type="file" name="newFile" accept="image/*">
        <input type="text" name="srcFile" value ="<%= composition.image %>" style="display: none;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>