<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do Liste</title>
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/task.css">
    
</head>
<body>
<% include ../partials/navbarTop %>

  <div class="row">
   <div class="col-3">
    <a href="/todo">Alle Aufgaben</a>
   </div>
   
   <div class="col-6">
    
      <form action="/todo" method="post" class="createForm"> 
           <input type="text" class="newProject" name="todo[project]" placeholder="Projekt">
           <hr>
           <textarea class="newTask" name="todo[description]" placeholder="Beschreibung" rows="2" cols="50"></textarea>
           <textarea class="newTask" name="todo[result]" placeholder="Ziel" rows="2" cols="50"></textarea>
           <p><button type="submit">Erstellen</button></p>
      </form>
    
   </div>
   <div class="col-3">
    <div class="task">
      <h3>Aufgaben</h3>
      <hr>
      
      Hier stehen die einzelnen Aufgaben. Diese können in der Edit Route hinzugefügt werden.
    </div>
   </div>

  </div>
 
<div id="overlay"><h1>Neue To-Do Liste</h1></div> 
<div id="hey"><div id="layer-up"></div></div>
<div id="layer-0">
	
	<div id="layer-1">
		<div id="layer-2">
			<div id="lines">
				<div id="layer-corner"></div>
			</div>
		</div>
	</div>
</div>

<div id="mtnZZZ"></div>

<div class="footer">Trademark 2018 Groefics</div>
<script src="/javascript/jQuery_3_2_1.js"></script>
<script src="/javascript/task.js"></script>
<script src="/javascript/bootstrap.js"></script>
</body>
</html>