<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS Editor</title>
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cms.css">
    
</head>
<body>
<% include ../partials/navbarTop %>
<h1>Content Editor</h1>
<div class="row" id="center">
  <% include partials/cmsLeft %>

  <div class="col-md-6">
    <h2>Beitrags Editor</h2>
    <div class="toolbar">
      <h3>Verbesserungen</h3>
      <input type="text" id="todo" class="modalInput" data-value="cms" name="task" placeholder="Neue Aufgabe"> 
    </div>
    
  </div>
  <div class="col-md-3">
    <form method="post" action="/new/upload">
      <div id="dropzone" class="dragShow">Dropzone</div>
      <div id="list">noch keine Bilder vorhanden</div>
      <input type="submit" id="uploadPic">
    </form>
    <hr>
  

    <div class="taskEdit">
      <h3>Kategorien</h2>
      <hr>
      <ul>
        
          <li>Kategorien</li>
       
      </ul>
      <input type="text" id="newCategory" name="category" placeholder="Neue Kategorie">
    </div>
    <hr>

  </div>
</div>
  
<a href="/">Start</a>
<div class="footer">Trademark 2018 Groefics</div>
<script src="/javascript/jQuery_3_2_1.js"></script>
<script src="/javascript/cmsNew.js"></script>
<script src="/javascript/cmsTodo.js"></script>
<script src="/javascript/bootstrap.js"></script>
</body>
</html>