<h2>Historie</h2>
<div class="gallery">
 <input type="file" id="fileLoader" name="historyImage" title="loadImage">
 <img src="/images/winkenderPanda.jpg">
 <img src="/images/winkenderPanda.jpg">
 <img src="/images/winkenderPanda.jpg">
</div>
<a href="">Neues Bild hinzufügen oder oben klicken</a>